<nav class="navbar navbar-default">
  <div class ="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">AngularJs Auth</a>
    </div>

    <!--<div class="navbar-collapse collapse">

  </div>-->

  <ul class ="nav navbar-nav">
    <li>
      <a ui-sref="home">Home  </a>
    </li>
    <li ng-if="vm.auth.isAuthenticated()">
      <a ui-sref="profile">Profile </a>
    </li>
    <li ng-if="!vm.auth.isAuthenticated()">
      <a ng-click="vm.auth.login()">LogIn </a>
    </li>
    <li ng-if="vm.auth.isAuthenticated()">
      <a ng-click="vm.auth.logout()">Logout</a>
    </li>
  </ul>
</div>
</nav>
