<div class="panel panel-default">
  <div class ="panel-heading">
    <h3>Profile</h3>
    <div class="panel-body">
      <label for="nickname"> Nickname</label>
      <h3>{{vm.profile.nickname}}</h3>
      <label for="name"> name</label>
      <h3>{{vm.profile.name}}</h3>
    </div>
  </div>
</div>
